#inputBuscar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 625px;;
    padding: 10px; /* Espacio interno para el texto */
    font-size: 16px;
    border: 2px solid #348adb; /* Borde */
    border-radius: 55px; /* Esquinas redondeadas */
    outline: none; /* Eliminar el contorno al hacer clic */
    transition: border-color 0.3s;
}

.card-img-top{
    max-width: 90%;
    height: 450px;
}

.card{
    width: 350px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 550px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-shadow: #348adb;
}





